@font-face {
  font-family: "PassionOne-Bold";
  src: url("./Passion_One/PassionOne-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Regular";
  src: url("./Lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Light";
  src: url("./Lato/Lato-Light.ttf") format("truetype");
}
